<app-nav></app-nav>
    <div class="container">
        <div class="presentacion">
            <h1>Monitoreo Global</h1>
            <div style="padding: 1rem">
                <button style="all: unset; cursor: pointer;">
                    <img src="../../assets/Idioma.png" style="margin-right: 0.5rem">
                </button>
                <button style="all: unset; cursor: pointer;">
                    <img src="../../assets/Ajustes.png" style="margin-right: 0.5rem">
                </button>
                <button style="all: unset; cursor: pointer;">
                    <img src="../../assets/notification.png" style="margin-right: 0.5rem">
                </button>
                <b>{{nombreApellido}}</b>
            </div>
        </div>
        <div class="presentacion-mobile">
            <h2>Resumen de Planta</h2>
        </div>
        <br>
        <section class="generales">
                <mat-card appearance="outlined" class="generales-s">
                    <mat-card-header class="header">
                        <div class="texto-espacio">
                            <div>Lecturas OK</div>
                            <div><b>{{totalizadores.maxLecturas | numberFormat}}</b></div>
                        </div>
                        <img src="https://img.icons8.com/?size=30&id=98955&format=png&color=000000" alt="check"
                        class="check">
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>

                <mat-card appearance="outlined" class="generales-s">
                    <mat-card-header class="header">
                        <div class="texto-espacio">
                            <div>Alertas Medias</div>
                            <div><b>{{totalizadores.maxAlertasMedias| numberFormat}}</b></div>
                        </div>
                        <img src="https://img.icons8.com/?size=30&id=aewQY5IyYpxb&format=png&color=000000" alt="exclamación"
                        class="exclamación">
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>


                <mat-card appearance="outlined" class="generales-s">
                    <mat-card-header class="header">
                        <div class="texto-espacio">
                            <div>Alertas Rojas</div>
                            <div><b>{{totalizadores.maxAlertasRojas| numberFormat}}</b></div>
                        </div>
                        <img src="https://img.icons8.com/?size=30&id=59782&format=png&color=000000" alt="peligro"
                        class="peligro">
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>


                <mat-card appearance="outlined" class="generales-s">
                    <mat-card-header class="header">
                        <div class="texto-espacio">
                            <div>Sensores Deshabilitados</div>
                            <div><b>{{sensoresDeshabilitados| numberFormat}}</b></div>
                        </div>
                        <img src="https://img.icons8.com/?size=30&id=OpfeY8fFZX2F&format=png&color=000000" alt="exit"
                        class="exit">
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>

        </section>
        <br>
        <section>
            <mat-card appearance="outlined" class="panelPaises">
                <mat-card-header>
                    <mat-card-title class="header-panel-paises"><b>Plantas</b></mat-card-title>
                    <mat-card-subtitle class="header-panel-paises"><button mat-raised-button style="color: black;" (click)="modalAdd()"><b>+ Crear Nueva Planta</b></button></mat-card-subtitle>
                    <div *ngIf="modalAddPlantaHtml === true">
                        <app-modal-add-planta></app-modal-add-planta>
                    </div>
                    <div *ngIf="modalUpdatePlantaHtml === true">
                        <app-modal-update-planta></app-modal-update-planta>
                    </div>
                    <div *ngIf="modalDeletePlantaHtml === true">
                        <app-modal-delete-planta></app-modal-delete-planta>
                    </div>
                </mat-card-header>
                <br>
                <div class="caracteristicas-titulos">
                    <div class="item">
                        <p>Pais</p>
                    </div>
                    
                    <div class="item">
                    <p>Nombre Planta</p>
                    </div>

                    <div class="item">
                    <p>Lecturas</p>
                    </div>

                    <div class="item">
                    <p>Alertas Medias</p>
                    </div>

                    <div class="item">
                    <p>Alertas Rojas</p>
                    </div>

                    <div class="item">
                    <p>Acciones</p>
                    </div>

                </div>

                <div class="caracteristicas" *ngFor="let planta of plantas; let i = index">
                
                    <div class="item">
                        <div class="bandera-pais">
                        <img src={{planta.bandera}} alt="banderas" class="bandera">
                        {{planta.pais}}
                        </div>
                        <div class="nombre-planta-responsivo">
                            {{planta.nombre}}
                        </div>
                    </div>
                    
                    <div class="item nombre-planta">
                    <div>
                    {{planta.nombre}}
                    </div>
                    </div>

                    <div class="item">
                    <div>
                    {{planta.cant_lecturas || 'VACIO'}}
                    </div>
                    </div>

                    <div class="item">
                    <div>
                    {{planta.alertas_medias || 'VACIO'}}
                    </div>
                    </div>

                    <div class="item">
                    <div>
                    {{planta.alertas_rojas || 'VACIO'}}
                    </div>
                    </div>

                    <div class="item">
                    <div>
                    <button style="all: unset; cursor: pointer;" (click)="acciones(i)">
                        <img src="https://img.icons8.com/?size=20&id=84119&format=png&color=000000" alt="">
                    </button>
                    <br>
                    <br>
                        <div class="accionesEE-menu" *ngIf="accionesEE === i">
                            <button mat-raised-button style="color: blue" (click)="editar(planta)">Editar</button>
                            <button mat-raised-button  style="color: red" (click)="eliminar(planta)">Eliminar</button>
                        </div>
                    </div>
                    </div>
                    <hr class="hr-responsivo">
                </div>

                </mat-card>
        </section>
        <br>

    <div class="panelItems">

        <section class="generales">

                <mat-card appearance="outlined" class="generales-s">
                    <mat-card-header class="header">
                        <div class="texto-espacio">
                            <div>Temperatura</div>
                            <div class="numeros-cards-ultimas">
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=98955&format=png&color=000000" alt="check-item"
                                class="check-item"><p>100</p></div>
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=aewQY5IyYpxb&format=png&color=000000" alt="exclamación-item"
                                class="exclamación-item"><p>20</p></div>
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=59782&format=png&color=000000" alt="peligro-item"
                                class="peligro-item"><p>30</p></div>
                            </div>
                        </div>
                        <img src="https://img.icons8.com/?size=30&id=SQ8e0DfA2qsj&format=png&color=4a4aff" alt="default-item"
                        class="default-item">
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>

                <mat-card appearance="outlined" class="generales-s">
                    <mat-card-header class="header">
                        <div class="texto-espacio">
                            <div>Presión</div>
                            <div class="numeros-cards-ultimas">
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=98955&format=png&color=000000" alt="check-item"
                                class="check-item"><p>100</p></div>
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=aewQY5IyYpxb&format=png&color=000000" alt="exclamación-item"
                                class="exclamación-item"><p>20</p></div>
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=59782&format=png&color=000000" alt="peligro-item"
                                class="peligro-item"><p>30</p></div>
                            </div>
                        </div>
                        <img src="https://img.icons8.com/?size=30&id=18747&format=png&color=4a4aff" alt="default-item"
                        class="default-item">
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>

                <mat-card appearance="outlined" class="generales-s">
                    <mat-card-header class="header">
                        <div class="texto-espacio">
                            <div>Viento</div>
                            <div class="numeros-cards-ultimas">
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=98955&format=png&color=000000" alt="check-item"
                                class="check-item"><p>100</p></div>
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=aewQY5IyYpxb&format=png&color=000000" alt="exclamación-item"
                                class="exclamación-item"><p>20</p></div>
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=59782&format=png&color=000000" alt="peligro-item"
                                class="peligro-item"><p>30</p></div>
                            </div>
                        </div>
                        <img src="https://img.icons8.com/?size=30&id=31842&format=png&color=4a4aff" alt="default-item"
                        class="default-item">
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>

                <mat-card appearance="outlined" class="generales-s">
                    <mat-card-header class="header">
                        <div class="texto-espacio">
                            <div>Niveles</div>
                            <div class="numeros-cards-ultimas">
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=98955&format=png&color=000000" alt="check-item"
                                class="check-item"><p>100</p></div>
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=aewQY5IyYpxb&format=png&color=000000" alt="exclamación-item"
                                class="exclamación-item"><p>20</p></div>
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=59782&format=png&color=000000" alt="peligro-item"
                                class="peligro-item"><p>30</p></div>
                            </div>
                        </div>
                        <img src="https://img.icons8.com/?size=30&id=3106&format=png&color=4a4aff" alt="default-item"
                        class="default-item">
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
        </section>

        <br>

        <section class="generales">

                <mat-card appearance="outlined" class="generales-s">
                    <mat-card-header class="header">
                        <div class="texto-espacio">
                            <div>Energía</div>
                            <div class="numeros-cards-ultimas">
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=98955&format=png&color=000000" alt="check-item"
                                class="check-item"><p>100</p></div>
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=aewQY5IyYpxb&format=png&color=000000" alt="exclamación-item"
                                class="exclamación-item"><p>20</p></div>
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=59782&format=png&color=000000" alt="peligro-item"
                                class="peligro-item"><p>30</p></div>
                            </div>
                        </div>
                        <img src="https://img.icons8.com/?size=30&id=77516&format=png&color=4a4aff" alt="default-item"
                        class="default-item">
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>

                <mat-card appearance="outlined" class="generales-s">
                    <mat-card-header class="header">
                        <div class="texto-espacio">
                            <div>Tensión</div>
                            <div class="numeros-cards-ultimas">
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=98955&format=png&color=000000" alt="check-item"
                                class="check-item"><p>100</p></div>
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=aewQY5IyYpxb&format=png&color=000000" alt="exclamación-item"
                                class="exclamación-item"><p>20</p></div>
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=59782&format=png&color=000000" alt="peligro-item"
                                class="peligro-item"><p>30</p></div>
                            </div>
                        </div>
                        <img src="https://img.icons8.com/?size=30&id=ylMIb6LBwqom&format=png&color=4a4aff" alt="default-item"
                        class="default-item">
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>

                <mat-card appearance="outlined" class="generales-s">
                    <mat-card-header class="header">
                        <div class="texto-espacio">
                            <div>Monóxido de Carbono</div>
                            <div class="numeros-cards-ultimas">
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=98955&format=png&color=000000" alt="check-item"
                                class="check-item"><p>100</p></div>
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=aewQY5IyYpxb&format=png&color=000000" alt="exclamación-item"
                                class="exclamación-item"><p>20</p></div>
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=59782&format=png&color=000000" alt="peligro-item"
                                class="peligro-item"><p>30</p></div>
                            </div>
                        </div>
                        <img src="https://img.icons8.com/?size=30&id=rbeD1p7PbOib&format=png&color=4a4aff" alt="default-item"
                        class="default-item">
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>

                <mat-card appearance="outlined" class="generales-s">
                    <mat-card-header class="header">
                        <div class="texto-espacio">
                            <div>Otros Gases</div>
                            <div class="numeros-cards-ultimas">
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=98955&format=png&color=000000" alt="check-item"
                                class="check-item"><p>100</p></div>
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=aewQY5IyYpxb&format=png&color=000000" alt="exclamación-item"
                                class="exclamación-item"><p>20</p></div>
                                <div class="item-por-numero"><img src="https://img.icons8.com/?size=10&id=59782&format=png&color=000000" alt="peligro-item"
                                class="peligro-item"><p>30</p></div>
                            </div>
                        </div>
                        <img src="https://img.icons8.com/?size=30&id=2854&format=png&color=4a4aff" alt="default-item"
                        class="default-item">
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>

        </section>
    </div>
        <br>
    </div>

