<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <div style="list-style: none; width: 100%; vertical-align: left;">
      <div class="mobile-header">
        <img src="../../../assets/opciones.png" alt="" id="icon-nav" (click)="Menu()">
        <img class="vacio" src="../../assets/vacio.png">
        <button style="all: unset; cursor: pointer;">
            <img src="../../assets/notification.png" style="margin-right: 0.5rem">
        </button>
      </div>
        <li>
          <img src="../../../assets/logo-icon.png" 
          alt="logo" class="ancorNav">
        </li>
        <br>
        <br>
        <li>
        <a [routerLink]="['/log/dashboard']" routerLinkActive="active" (click)="active('home')" class="ancorNav" ><img src="../../assets/Dashboard.png" alt=""></a>
        </li>
        <li>
        <a [routerLink]="['/log/teams']" routerLinkActive="active" (click)="active('teams')" class="ancorNav"><img src="../../assets/Monitoreo por planta.png" alt=""></a>
        </li>
        <li>
        <a class="ancorNav" [routerLink]="['/log/matches']" routerLinkActive="active" (click)="active('matches')" class="ancorNav"><img src="../../assets/Histórico de sensores.png" alt=""></a>
        </li>
        <li>
        <a [routerLink]="['/log/competition']" routerLinkActive="active" (click)="active('competition')" class="ancorNav" ><img src="../../assets/Histórico de plantas.png" alt=""></a>
        </li>
        <li>
        <a  routerLinkActive="active" (click)="logout()" class="ancorNav" style="cursor : pointer;"><img src="../../assets/Cerrar sesión.png" alt=""></a>
        </li>
      </div>
      <div>
      </div>

    

    </ul>
  </div>

    <!--MOBILE-->

   <div *ngIf="menu === true" class="mobile-menu">
   <ul style="list-style : none;">
        <li style="list-style : none;">
          <a [routerLink]="['/log/dashboard']" routerLinkActive="active" (click)="active('home')" class="ancorNav">
            <img src="../../assets/Dashboard.png" alt="">
          </a>
        </li>
        <li>
          <a [routerLink]="['/log/teams']" routerLinkActive="active" (click)="active('teams')" class="ancorNav">
            <img src="../../assets/Monitoreo por planta.png" alt="">
          </a>
        </li>
        <li>
          <a [routerLink]="['/log/matches']" routerLinkActive="active" (click)="active('matches')" class="ancorNav">
            <img src="../../assets/Histórico de sensores.png" alt="">
          </a>
        </li>
        <li>
          <a [routerLink]="['/log/competition']" routerLinkActive="active" (click)="active('competition')" class="ancorNav">
            <img src="../../assets/Histórico de plantas.png" alt="">
          </a>
        </li>
        <li>
          <a (click)="logout()" class="ancorNav">
            <img src="../../assets/Cerrar sesión.png" alt="">
          </a>
        </li>
        </ul>
      </div>

</nav>
